@font-face {
  font-family: 'Iropke Batang'; src:url('../font/IropkeBatangM.woff'), url('../font/IropkeBatangM.eot')
}

* { 
  font-family: 'Iropke Batang', 'Spoqa Han Sans', 'Sans-serif'; 
}

html, 
body {
  margin: 0;
  padding: 0;
  background: #F6F0DA;
  overflow-y: hidden;
}


/* Desktop */
@media screen and (min-width:1025px) {
  .desktop {
    display: inherit;
    text-align: center;  
    display: flex;
    flex-direction: column;
    color: #2A214D;
    height: 100vh;
  }
  .desktop .empty {
    height: 40vh;
  }
  .desktop .message {
    flex: 1;
  }
  .mobile {
    display: none;
  }
}

/* Moblie */
@media screen and (max-width:1024px) {
  .desktop {
    display: none;
  }
  .mobile {
    font-size: 13px;
    display: inherit;
  }
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  /*left: 100%;*/
  /*background-image: url('../img/0.jpg');*/
  background-size: cover;
  background-position: 50% 50%;
}
.poem {
  color: #2A214D;
  /*text-align: center;*/
}
.wrapper {
  height: 100vh;
  padding: 50px;
  background-color:  #F6F0DA;
  overflow-y: auto;
}
.poem.title {
  font-size: 18px;
  margin-bottom: 50px;
}
.poem.content {
  line-height: 25px;
  margin-bottom: 50px;
}
.deco > .dash {
  width: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 13px;
}